html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}
.container {
    margin-bottom: 50px;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.img-main-page {
		border-radius: 625px;
    text-align: center;
}
.main-page-title {
	text-align: center;
}
.navbar-inverse {
    background-color: #FFF;
    border-color: #080808;
    height: 20px;
}
.navbar-inverse .navbar-brand:hover {
    color: #1a1a1a;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #1a1a1a;
    background-color: transparent;
}
#admin-main-page {
    background-color: #F5F5F5;
    padding: 20px;
    color: #8c8c8c;
    border: solid 1px #F5F5F5;
}
#admin-main-page:hover {
    border: solid 1px #5b5b5b;
}
#news-date {
    font-size: 10px;
}
#logo-phone {
    text-align: right;
    padding: 15px;
}
#logo-phone p{
    margin: 0;
}
#logo-contact {
    text-align: center;
}


/*
* Модальные окна
* на чистом CSS, без javascript
* и дополнительных изображений
*
* Копирайт (c) 2014 shurawi http://www.dbmast.ru
*/

/*** Стили относящиеся к модальному окну и содержанию ***/
.popup h1 { /* заголовок 1 */
    color: #008000;
    text-align: left;
    text-shadow: 0 1px 3px rgba(0,0,0,.3);
    font:24px 'Trebuchet MS', Helvetica, sans-serif;
    font-weight: bold;
}
.popup h2 { /* заголовок 2 */
    color: #2CA9F9;
    text-align: left;
    text-shadow: 0 1px 3px rgba(0,0,0,.3);
    font:22px 'Trebuchet MS', Helvetica, sans-serif;
}
/* Базовые стили слоя затемнения и модального окна  */
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
    /* фон затемнения */
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    position: fixed; /* фиксированное поцизионирование */
    cursor: default; /* тип курсара */
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.is-image {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:block;
    margin: auto;
    width: 100%;
    height: auto;
    /* скругление углов встроенных картинок */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}
/* встроенные элементы м-медиа, фреймы */
embed, iframe {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:block;
    margin: auto;
    min-width: 320px;
    max-width: 600px;
    width: 100%;
}
/* стили модального окна */
.popup {
    top: 0;
    right: 0;
    left: 0;
    font-size: 14px;
    z-index: 10;
    display: block;
    visibility: hidden;
    margin: 0 auto;
    width: 90%;
    min-width: 500px;
    /* фиксированное позиционирование, окно стабильно при прокрутке */
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
    /* скругление углов */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFFFFF;
    /* внешняя тень */
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    -ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    -o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
    /* полная прозрачность окна, появление при клике */
    opacity: 0;
    /* эффект перехода (появление) */
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    margin-top: -100px;
}
.overlay:target+.popup {
    top: 20%;
    visibility: visible;
    opacity: 1;
}
/* формируем кнопку закрытия */
.close {
    position: absolute;
    top: -10px;
    right: -10px;padding: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    line-height: 20px;
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    -ms-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition: all ease .8s;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.popup p, .popup div {
    margin-bottom: 10px;
}





/*
* Модальные окна
* на чистом CSS, без javascript
* и дополнительных изображений
*
* Копирайт (c) 2014 shurawi http://www.dbmast.ru
*/

/*** Стили относящиеся к модальному окну и содержанию ***/
.popup1 h1 { /* заголовок 1 */
    color: #008000;
    text-align: left;
    text-shadow: 0 1px 3px rgba(0,0,0,.3);
    font:24px 'Trebuchet MS', Helvetica, sans-serif;
    font-weight: bold;
}
.popup1 h2 { /* заголовок 2 */
    color: #e45127;
    text-align: left;
    text-shadow: 0 1px 3px rgba(0,0,0,.3);
    font:22px 'Trebuchet MS', Helvetica, sans-serif;
}
/* Базовые стили слоя затемнения и модального окна  */
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
    /* фон затемнения */
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    position: fixed; /* фиксированное поцизионирование */
    cursor: default; /* тип курсара */
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.is-image {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:block;
    margin: auto;
    width: 100%;
    height: auto;
    /* скругление углов встроенных картинок */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}
/* встроенные элементы м-медиа, фреймы */
embed, iframe {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:block;
    margin: auto;
    min-width: 320px;
    max-width: 600px;
    width: 100%;
}
/* стили модального окна */
.popup1 {
    top: 0;
    right: 0;
    left: 0;
    font-size: 14px;
    z-index: 10;
    display: block;
    visibility: hidden;
    margin: 0 auto;
    width: 400px;
    min-width: 500px;
    /* фиксированное позиционирование, окно стабильно при прокрутке */
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
    /* скругление углов */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFFFFF;
    /* внешняя тень */
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    -ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    -o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
    /* полная прозрачность окна, появление при клике */
    opacity: 0;
    /* эффект перехода (появление) */
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    margin-top: -100px;
}
.overlay:target+.popup1 {
    top: 20%;
    visibility: visible;
    opacity: 1;
}
/* формируем кнопку закрытия */
.close {
    position: absolute;
    top: -10px;
    right: -10px;padding: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    line-height: 20px;
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    -ms-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition: all ease .8s;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.popup1 p, .popup1 div {
    margin-bottom: 10px;
}








.demo {
    max-width: 400px;
    padding: 25px;
    margin: 45px auto;
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    text-align: center;
}
/* Стили модального окна */
.modal-header h2 {
    color: #555;
    font-size: 20px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
}
/* кнопка закрытия окна */
.modal .btn-close {
    color: #aaa;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
}
.modal .btn-close:hover {
    color: red;
}
/* слой затемнения */
.modal-wrap:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}
.modal-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
}
/* активация слоя затемнения и модального блока */
.modal-open:checked ~ .modal-wrap:before,
.modal-open:checked ~ .modal-wrap .modal-overlay {
    display: block;
}
.modal-open:checked ~ .modal-wrap .modal-dialog {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}
/* элементы модального окна */
.modal-dialog {
    background: #fefefe;
    border: #555555 solid 1px;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: -100%;
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    width: 80%;
    max-width: 500px;
    z-index: 103;
}
.modal-body {
    padding: 20px;
}
.modal-body p {
    margin: 0;
}
.modal-header,
.modal-footer {
    padding: 20px 20px;
}
.modal-header {
    border-bottom: #eaeaea solid 1px;
}
.modal-header h2 {
    font-size: 20px;
    margin: 0;
}
.modal-footer {
    border-top: #eaeaea solid 1px;
    text-align: right;
}
/* адаптивные картинки в модальном блоке */
.modal-body img {
    max-width: 100%;
    height: auto;
}
/* кнопки */
.btn {
//    background: #fff;
    border: #555 solid 1px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
}

.btn-primary {
    background: #e45127;
    border-color: #e45127;
    color: #fff;
}
.btn-primary:hover{
    background: #66A1D3;
}

/* Элементы формы контактов */
.textbox{
    height:45px;
    width:100%;
    border-radius:3px;
    border:rgba(0,0,0,.3) 1px solid;
    box-sizing:border-box;
    font-size:14px;
    padding:8px;
    margin-bottom:20px;
}
.message:focus,
.textbox:focus{
    outline:none;
    border:rgba(24,149,215,1) 1px solid;
    color:rgba(24,149,215,1);
}
.message{
    background: rgba(255, 255, 255, 0.4);
    width:100%;
    height: 120px;
    border:rgba(0,0,0,.3) 1px solid;
    box-sizing:border-box;
    -moz-border-radius: 3px;
    font-size:14px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display:block;
    padding:10px;
    margin-bottom:20px;
    overflow:hidden;
}
/* кнопка "отправить" формы */
.btn-form{
    width:100%;
    height:45px;
    border:rgba(0,0,0,.2) 1px solid;
    box-sizing:border-box;
    background: #dedede;
    color:#555;
    transition:background .4s;
}
/* Изменение фона кнопки при наведении */
.btn-form:hover{
    background: #f2f2f2;
}


li {
    list-style-type: none; /* Убираем маркеры */
}

.img_news {
    float: left;
    width: 120px;
    padding-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.img_news_views {
    float: left;
    width: 420px;
    padding-right: 20px;
}
#news_home{
    padding-bottom: 35px;
}
#clear {
    clear: both;
    margin-bottom: 150px;
}

.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #5bc0de; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #388bd1; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #5bc0de;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }

.how_to_work_center {
    text-align: center;
}
.navbar-brand {
    margin-left: 0px;
}

#hardware_ip {
    display: none;
}
#hardware_obshepit {
    display: none;
}
#software_ip {
    display: none;
}
#software_android_ip {
    display: none;
}
#result_ip_android_ip {
    display: none;
}
#result_ip_win10 {
    display: none;
}
#result_ip_win7 {
    display: none;
}
#result_ip_shtrih {
    display: none;
}
#result_ip_android_obhepit {
    display: none;
}
#result_ip_win10_obhepit {
    display: none;
}
#result_ip_win7_obhepit {
    display: none;
}
#result_ip_shtrih_obhepit {
    display: none;
}



#hardware_one {
    display: none;
}
#software_win7_one {
    display: none;
}
#one_software_atol_tablet_scanner_result {
    display: none;
}
#one_software_tablet_win10_result {
    display: none;
}
#one_software_win7_shtrih_result {
    display: none;
}
#one_software_win7_frontol5_result {
    display: none;
}
#one_software_win7_frontolxpos_result {
    display: none;
}
#one_software_win7_1c8base_result {
    display: none;
}
#hardware_lan {
    display: none;
}
#lan_software_tablet_win10_result {
    display: none;
}
#software_win7_lan {
    display: none;
}
#lan_software_win7_shtrih_result {
    display: none;
}
#lan_software_win7_frontol5_result {
    display: none;
}
#lan_software_win7_frontolxpos_result {
    display: none;
}
#lan_software_win7_1c8base_result {
    display: none;
}
#one_software_atol_tablet_scanner_desc {
    display: none;
}
#form_order_result_ip_android_ip {
    display: none;
}
#thanks {
    display: none;
}
#form_one_software_atol_tablet_scanner_result {
    display: none;
}
#add_form_one_software_atol_tablet_scanner_result {
    display: none;
}
#add_form_order_result_ip_android_ip {
    display: none;
}
#add_rorm_one_software_tablet_win10_result {
    display: none;
}
td {
    width: 200px;
}
#contact-info {
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
    color: black;
    position: relative;
    top: -20px;
}
#device_footer {
    margin-left: 20px;
}
#offsite_footer {
    margin-top: 20px;
}
#btn_header {
    text-align: center;
}
.type_of_org {
    border: 1px solid #8c8c8c;
    height: 200px;
    margin-top: 30px;
    text-align: right;
    padding: 20px;
    font-size: 24px;
    vertical-align	: middle;
}
.type_of_org:hover {
    border: 1px solid #e45127;
    cursor: pointer;
}
#refresh {
    display: none;
}
.fa-times {
    cursor: pointer;
}
#device_block {
    margin: 10px;
    border: 1px solid white;
    padding: 10px;
}
#device_block:hover {
    border: 1px solid #e45127;
}
.arrow_box {
    position: relative;
    background: #e45127;
    border: 4px solid #f5dca2;
}
.arrow_box:after, .arrow_box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(228, 81, 39, 0);
    border-top-color: #e45127;
    border-width: 30px;
    margin-left: -30px;
}
.arrow_box:before {
    border-color: rgba(245, 220, 162, 0);
    border-top-color: #f5dca2;
    border-width: 36px;
    margin-left: -36px;
}